<div class="card mb-3">
  <h4 class="card-header">{{Book.title|title}}</h4>
  <div class="card-body">
    <h5 class="card-title">by: {{Book.author | title}}</h5>
    <p>Category: {{Book.get_type_of_book_display}} </p>
    <p>Published: {{Book.date_published|date:"d F, Y"}}</p>
  </div>
  <div class="card-footer">
    <a href="{%url "BookListApp:update" Book.pk %}" class="btn btn-primary">Edit</a>
    <a data-target="#confirm-delete" href="{%url "BookListApp:delete" Book.id %}" data-toggle="modal" class="btn btn-secondary btn-delete">Delete</a>
  </div>
</div>
