{% extends "BookListApp/base.html" %}
{% load static%}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static "BookListApp/css/main-page.css" %}">
{% endblock %}

{% block scripts %}
  <script src="{% static 'BookListApp/js/cookie-manager.js' %}"></script>
  <script src="{% static 'BookListApp/js/book-delete.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.btn-delete').asDeleteButton();
      $('#confirm-delete').asConfirmModal();
    });
  </script>
{% endblock %}

{% block content-main %}
<main>
    <div class="container container-main">
      {% include "BookListApp/book-create.html" with form=form %}

      {% for Book in Books %}
        {% include "BookListApp/book-view.html" with Book=Book %}
      {% endfor %}
    </div>
</main>
{% endblock %}

{% block content-footer %}
  {% include "BookListApp/book-delete-confirm.html" %}
{% endblock %}
