{% extends "BookListApp/base.html" %}
{% load static%}

{% block scripts %}
<script src="{% static 'BookListApp/js/cookie-manager.js' %}"></script>
<script src="{% static 'BookListApp/js/delete.js' %}"></script>

{% endblock %}

{% block content-main %}
<main style="margin-top:70px;">
  <div class="container container-main" >
    {% for Book in Books %}
      {% include "BookListApp/bookview.html" with Book=Book %}
    {% endfor %}
  </div>
</main>
{% endblock %}

{% block content-scripts %}
<script type="text/javascript">
  $('.btn-delete').asDeleteButton();
</script>
{% endblock %}
